{
  "semi": true,
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 100,
  "tabWidth": 2,
  "endOfLine": "lf",
  "bracketSpacing": true,
  "arrowParens": "always",

  "plugins": ["@trivago/prettier-plugin-sort-imports"],

  "importOrder": [
    "^vue$",
    "^vue-router$",
    "^pinia$",

    "^[a-zA-Z].*$",

    "^@/types/(.*)$",

    "^@/components/ui/(.*)$",
    "^@/components/(.*)$",
    "^@/layouts/(.*)$",
    "^@/pages/(.*)$",

    "^@/composables/(.*)$",
    "^@/stores/(.*)$",

    "^@/lib/(.*)$",
    "^@/utils/(.*)$",
    "^@/config/(.*)$",
    "^@/constants/(.*)$",

    "^\\.\\./(.*)$",
    "^\\./(.*)$"
  ],

  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
