{
  "semi": true,
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 100,
  "tabWidth": 2,
  "useTabs": false,
  "endOfLine": "lf",

  "bracketSpacing": true,
  "bracketSameLine": false,
  "arrowParens": "always",
  "quoteProps": "as-needed",

  "plugins": ["@trivago/prettier-plugin-sort-imports"],

  "importOrder": [
    "^node:.*$",

    "^fastify$",
    "^@fastify/.*$",

    "^dotenv$",
    "^zod$",
    "^@prisma/client$",

    "^[a-zA-Z].*$",

    "^@/types/(.*)$",
    "^@/schemas/(.*)$",
    "^@/controllers/(.*)$",
    "^@/routes/(.*)$",
    "^@/services/(.*)$",
    "^@/utils/(.*)$"
  ],

  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
