{
  "semi": true,
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 100,
  "tabWidth": 2,
  "endOfLine": "lf",
  "bracketSpacing": true,
  "arrowParens": "always",

  "plugins": ["@trivago/prettier-plugin-sort-imports"],

  "importOrder": [
    "^fastify$",
    "^dotenv$",
    "^zod$",
    "^mysql2$",
    "^@prisma/client$",

    "^[a-zA-Z].*$",

    "^@/types/(.*)$",
    "^@/schemas/(.*)$",
    "^@/controllers/(.*)$",
    "^@/routes/(.*)$",
    "^@/services/(.*)$",
    "^@/utils/(.*)$"
  ],

  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
